### Importing data and converting data
- We can use pandas or tensorflow to import data
- Tensorflow is used when we have complex data pipelines
- Pandas is used for simple data formats

In [13]:
# Import numpy and pandas
import numpy as np
import pandas as pd

# load data from csv
students = pd.read_csv("../student_data.csv")

# print
students.head()

# convert to numpy array
#students_np = np.array(students)

# print
#students_np

,Hours of Sleep,Hours Studied,Grade on Test,Grade in Class,Cups of Coffee
0,10.602667,4.586892,99,99.187294,5
1,8.172997,4.405120,72,67.070903,3
2,6.430132,0.519630,52,39.644696,4
3,7.963793,5.004348,80,61.843705,1
4,8.279421,2.984489,87,103.495002,0

### Defining a loss function

In [1]:
# Import tensorflow
import tensorflow as tf
from tensorflow import keras

# compute the mse loss. mse will return a single number i.e the average of the squared differences between the actual and predicted values
loss = tf.keras.losses.mse(targets,predictions)

# Design a linear regression model
def linear_regression(intercept,slope=slope,features=features):
    return intercept + features * slopes

# Define a loss function to compute MSE
def loss_function(intercept,slope,targets=targets,features=features):
    # compute the predictions for a model
    predictions = linear_regression(intercept,slope)
    # return the loss
    return tf.keras.losses.mse(targets,2,predictions)

# compute the loss for test data inputs
loss_function(intercept,slope,test_targets,test_features)

# compute the loss for default data inputs
loss_function(intercept,slope)

### Loss functions in Tensorflow
- Import the keras module from tensorflow.
- Then, use price and predictions to compute the mean squared error (mse).
### The MAE is less than the MSE for this kind of data we were given

In [ ]:
# Import the keras module from tensorflow
from tensorflow import keras

# Compute the mean squared error (mse)
loss = keras.losses.mse(price, predictions)

# Print the mean squared error (mse)
print(loss.numpy())

# Using the mean absolute error(mae)
mae_loss = keras.losses.mae(price,predictions)

# Print the mean squared error (mae)
print(mae_loss.numpy())

### Modifying the loss function
- Define a variable, scalar, with an initial value of 1.0 and a type of float32.
- Define a function called loss_function(), which takes scalar, features, and targets as arguments in that order.
- Use a mean absolute error loss function.

In [ ]:
# Initialize a variable named scalar
scalar = Variable(1.0, dtype='float32')

# Define the model
def model(scalar, features = features):
  	return scalar * features

# Define a loss function
def loss_function(scalar, features = features, targets = targets):
	# Compute the predicted values
	predictions = model(scalar, features)
    
	# Return the mean absolute error loss
	return keras.losses.mae(targets, predictions)

# Evaluate the loss function and print the loss
print(loss_function(scalar).numpy())